<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/php/bootstrap.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
    executionOrder="depends,defects"
    shortenArraysForExportThreshold="10"
    requireCoverageMetadata="false"
    beStrictAboutOutputDuringTests="true"
    failOnRisky="true"
    failOnWarning="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/php/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/php/Integration</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <report>
            <html outputDirectory="coverage/php/html"/>
            <text outputFile="coverage/php/coverage.txt"/>
        </report>
    </coverage>

    <source>
        <include>
            <directory suffix=".php">includes</directory>
        </include>
    </source>

    <groups>
        <include>
            <group>unit</group>
            <group>integration</group>
        </include>
    </groups>
</phpunit>
